.file_picker {
    position: relative;
    height: var(--xxl);
    width: var(--xxl);
    border-radius: var(--md);
    padding: var(--xxs);
    border: 1px solid var(--clr-accent);
}

.file_picker img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--md);
}

.file_picker input {
    height: 100%;

    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

.overlay_progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: var(--md);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--md);
    color: var(--clr-light);
    font-weight: 800;
}